<%= wicked_pdf_image_tag 'Burst-Orange-Stroke.png' %>
<%= wicked_pdf_image_tag 'rails.png' %>

<h1>Order <%= @order.id %></h1>

<p>
  <b>Title:</b>
  <%= @order.title %>
</p>

<p>
  <b>Total:</b>
  <%= @order.total %>
</p>
